.header__logo {
  background-size: cover;
  min-width: 142px;
}

@media screen and (max-width: 882px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 686px) {
  .header__logo {
    width: 103px;
    height: 24px;    
  }
}