.profile__name {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  padding: 0;
  margin: 0 17px 0 0;
}

@media screen and (max-width: 686px) {
  .profile__name {
    font-size: 27px;
    line-height: 2.07;
    margin-left: auto;
    margin-right: 8px;
  }
}