.element__like {
  display: inline-block;
  width: 21px;
  height: 19px;
  background: url('../../../images/like.svg');
  background-size: cover;
  border: none;
  margin-bottom: 3px;
}

.element__like:focus {
  outline: none;
}

.element__like:hover {
  opacity: .6;
  cursor: pointer;
}